body {
  background-color: #222;
  color: #bada55;
  padding: 10px 2.5% 10px 2.5%;
}


h1 {
  font-size: 44px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.text-container {
  width: 65%;
}

.square {
  width: 35%;
  min-height: 450px;
  background-color: #555
}

img {
  display: block;
  width: 90%;
  max-width: 250px;
  margin: 10px auto;
}

figcaption {
  text-align: center;
}

ul {
list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
}

.key {
width: 40%;
}
.value{
  width: 50%;
  margin-right: 20px;
}

nav, .nav-start, .nav-end {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  color: white;
  height: 50px;
}

.nav-start span {
  font-family: serif;
  font-size: 30px;
}

.burger {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #bada55;
  gap: 5px;
  border: none;
  margin-right: 30px;
  transition: 0.2s;
}

.burger:hover {
  color: white;
  transform: scale(1.1);
}

.logo {
  width: 50px;
  margin: 0 5px 0 0;
}

.search {
  font-size: 30px;
  background-color: transparent;
  color: #bada55;
  border: none
}